.project_details
{
    display: flex;
    justify-content:space-around
}
.project_title
{ 
    font-size: 200%;
}
.join_button
{
    border:none;
    background-color: greenyellow
}
.left
{
    display: flex;
    flex-direction:column
}
.right
{
    display: flex;
    flex-direction:column
}
.project_description
{
    display: flex;
    align-items:center
}