.controllers_container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column !important ;
    max-width: 80vw;
    align-items: center;
    align-content: center;
    margin: auto !important;
}

#search-category{
    position: relative;
    width: 20%;
   margin-top: 10px;
}
.fixed-container{
    display: flex;
    position: static;
    flex-direction: row !important;
    justify-content: space-around;
}

.categories-container{
    display: flex;
    position: relative;
    max-width: 80vw;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}
#allTags{
    height: fit-content;
}

.toggle-btn{
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
}