.controllers_container{
    display: flex;
    flex-direction: column !important ;
    align-items: center;
    align-content: space-between;
}

#search-category{
    width: 20%;
   margin-top: 10px;
}
.fixed-container{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}