/* .modal-content{
    height: 85vh;
    width: 75vw;
} */

.modal-90vw{
    width: 90vw;
}
.modal-dialog{
    max-width: 95vw !important;
    max-height: 90vw !important;
}
.modal-content{
    /* height: 80vh; */
    height: fit-content;
}