body {
    margin: 0;
    background-color: #f2f2f2;
}

/* NAVBAR */

.topnav {
    display: flex;
    justify-content: left;
    background-color: #333;
}

.topnav a {
    margin-left: 0.7%;
    float: left;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav button {
    margin: 0.05%;
    float: left;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: inherit;
    font-family: inherit;
    border: none;
}

.topnav button:hover {
    border-radius: 10%;
    background-color: rgba(122, 23, 126, 0.479);
    color: rgb(255, 255, 255);
}

.topnav a:hover {
    display: flex;
    margin-left: 0.799%;
    border-radius: 10%;
    background-color: rgba(122, 23, 126, 0.479);
    color: rgb(255, 255, 255);
}

.topnav img {
    display: flex;
    margin: 5%;
}

/* NAVBAR-END */

.main_container {
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

/* HOMEPAGE */

.project_icon{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    border: none;
}

.project_icon:hover{
    cursor: pointer;
}

/* HOMEPAGE END */

.form_container {
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.DefaultForm {
    width: 100%;
}

.DefaultForm input, select, textarea {
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
    background-color: white;
}

.DefaultForm select:hover{
    cursor: pointer;
}

.DefaultForm label {
    padding: 12px 0;
    display: inline-block;
}


.DefaultForm input[type=submit] {
    background-color: rgb(168, 17, 182);
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.DefaultForm input[type=submit]:hover {
    background-color: #5895cb;
}
