.my-modal {
    width: 80vw; 
    max-width: 90vw;
} 

.modal-content{
    height: 70vh;
   
}


#pic:hover{
    cursor: pointer;
}

#project_list{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.my_project{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.li{
    padding: 10px 5px;
}